<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ssafy.happy.model.dao.QnaDao">

	<insert id="writeQna" parameterType="Qna">
		insert into qna (userid, qnasubject, qnacontent, hit, regtime)
		values (#{userid}, #{qnasubject}, #{qnacontent}, 0, now())
	</insert>
	
	<select id="listQna" parameterType="map" resultType="Qna">
		select qnano, userid, qnasubject, qnacontent, hit,
				case when date_format(regtime, '%Y%m%d') = date_format(now(), '%Y%m%d')
				then date_format(regtime, '%H:%i:%s')
				else date_format(regtime, '%y.%m.%d')
				end regtime
		from qna
		<if test="word != null and word != ''">
			<if test="key == 'qnasubject'">
				where qnasubject like concat('%', #{word}, '%')
			</if>
			<if test="key != 'qnasubject'">
				where ${key} = #{word}
			</if>
		</if>
		order by qnano desc
		limit #{start}, #{spp}
	</select>
	
	<select id="getTotalCount" parameterType="map" resultType="int">
		select count(qnano)
		from qna
		<if test="word != null and word != ''">
			<if test="key == 'qnasubject'">
				where qnasubject like concat('%', #{word}, '%')
			</if>
			<if test="key != 'qnasubject'">
				where ${key} = #{word}
			</if>
		</if>
	</select>
	
	<select id="getQna" parameterType="int" resultType="Qna">
		select qnano, userid, qnasubject, qnacontent, hit, regtime
		from qna
		where qnano = #{qnano}
	</select>
	
	<update id="updateHit" parameterType="int">
		update qna
		set hit = hit + 1
		where qnano = #{qnano}
	</update>
	
	<update id="modifyQna" parameterType="Qna">
		update qna
		set qnasubject = #{qnasubject}, qnacontent = #{qnacontent}
		where qnano = #{qnano}
	</update>
	
	<delete id="deleteMemo" parameterType="int">
		delete from memo
		where qnano = #{qnano}
	</delete>
	
	<delete id="deleteQna" parameterType="int">
		delete from qna
		where qnano = #{qnano}
	</delete>
	
	<insert id="writeQnaReply" parameterType="QnaReply">
		insert into qnareply (replycontent, userid, replydate, qnano)
		values (#{replycontent}, #{userid}, now(), #{qnano})
	</insert>
	
	<select id="listQnaReply" parameterType="map" resultType="QnaReply">
		select qnareplyno, userid, replycontent, qnano, replydate,
				case when date_format(replydate, '%Y%m%d') = date_format(now(), '%Y%m%d')
				then date_format(replydate, '%H:%i:%s')
				else date_format(replydate, '%y.%m.%d')
				end replydate
		from qnareply
		where qnano = #{qnano}
		order by qnareplyno desc
		
	</select>
</mapper>

